.home-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  padding: 30px;
}

.home-card-pro {
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
}

.homeDescription-container {
  color: white;
  padding: 30px;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.para-heading {
  font-size: 50px;
}

.para-info {
  font-size: 23px;
}

.find-jobs-button {
  background-color: #6366f1;
  color: white;
  font-size: 23px;
  height: 50px;
  font-weight: bold;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
